.product {
    display: flex;
    width: 800px;
    border: 1.5px solid rgb(230, 223, 223);
    margin: auto;
    margin-bottom: 0.2rem;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
  }
  
  .product-text {
    font-size: 1.3rem;
    margin-left: 2rem;
    font-weight: bold;
  }
  
  .product-label {
    color: rgb(214, 51, 51);
    margin-right: 0.3rem;
  }
  
  .btnX {
   color: rgb(214, 51, 51);
   background-color: rgb(160, 157, 157);
   font-weight: bold;
   position: center;
  right: 20px;
  bottom: 20px;
  border-radius: 10px;
  box-shadow: none;
  width: 45px;
  height: 45px;
  line-height: 42px;
  -webkit-perspective: 230px;
  perspective: 230px;
  }
  .btn-dark:hover {
    background-color: rgb(131, 12, 12);
    border-color: rgb(131, 12, 12);
  }
  